@media (max-width: 575.98px) {
    .form-control {
        width: 95vw;
    }

    form {
        align-items: start;
        padding: 10px;
    }

    form textarea {
        width: 100%;
    }

    form input {
        width: 100%;
    }

    form select {
        width: 100%;
        font-size: 16px;
    }

    form label {
        font-size: 20px;
    }

    #form-btn {
        margin: 15px auto;
    }

    .search-bar input {
        width: auto;
        font-size: 15px;
    }

    .search-bar button {
        font-size: 17px;
    }

    .content-box{
        width: 100%;
    }

    .content-box .content {
        width: 90%;
        font-size: 12px;
        overflow-x: scroll;
    }

    .container{
        width: 100%;
        padding: 10px;
    }
}